.app {
    text-align: center;
    width: 80%;
    margin: auto;
}

.startPanel, .gameInPanel {
    margin-top: 7%;
}

.startNewGameHeader, .roundDetailsHeader {
    margin-top: 7%;
}

.startNewGameHeader button, .roundDetailsHeader button{
    margin-top: 4%;
}

.startNewGamePlayersEntry, .playersScore {
    margin-top: 7%;
}

.startNewGamePlayersEntry button{
    margin-top: 4%;
}

.startNewGamePlayersEntry li, .playersScore li {
    margin-top: 4%;
}

ul {
    list-style-type: none;
}

.startNewGameHeader h6, .startNewGamePlayersEntry h6, .roundDetailsHeader h6, .playersScore h6 {
    margin-bottom: 2%;
}